* {
    box-sizing: border-box;
}

/******************** LAYOUT STYLES  *************************/


#userInput--ui {
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
    padding-top: 2vh;
}


#gameResults {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


#animationContainer {
    display: flex;
    position:relative;
    margin:auto;
    margin-top:10vh;
    width: 40vw;
    justify-content: space-around;
}

/****************** ANIMATION FLEXBOX **********************/


#animationContainer > #computer { 
    width: 50%;
    order: 1;
}

#animationContainer > #hand {
    width: 60%; 
    margin-left: -8vw;
    margin-top: -6vh;
}

#hand img {
    align-self:center;
    width:100%;
    height: auto;
}


#loadingWindow {
    opacity: 0;
    position: absolute;
}

/********************* ANIMATION/KEYFRAMES ****************/


.dotAnimate {
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}


.spinning {
    animation: spinning 2s; 
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite; 
}
/******************** POINTER EVENT CLASS  ***************************/

.buttonDisable {
    pointer-events:none;
}